/* stylelint-disable @stylistic/selector-list-comma-newline-after */

body {
  background-image: url('../element/Rectangle\ 6.png');
  background-position: top center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

/* Default Styling */
.blog {
  font-size: 24px;
  margin-top: 100px;
}

.boost {
  color: #79747E;
}

.or {
  color: #79747E;
  margin-top: 100px;
}

.btnin, .btnup {
  width: 95px;
  height: 35px;
  border-radius: 20px;
  background-color: #955AB5;
  border-color: #955AB5;
}

.btnup {
  background-color: transparent;
}

.in {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.up {
  text-decoration: none;
  color: #955AB5;
  font-family: 'Poppins', sans-serif;
}

/* Responsive Styling */

/* Tablets (Width 768px and up) */
@media (max-width: 768px) {
  .blog {
    font-size: 20px;
    margin-top: 80px;
  }
  
  .btnin, .btnup {
    width: 85px;
    height: 30px;
  }

  .or {
    margin-top: 80px;
  }
}

/* Mobile Devices (Width 480px and up) */
@media (max-width: 480px) {
  body {
    background-size: cover;
  }

  .blog {
    font-size: 18px;
    margin-top: 60px;
  }

  .btnin, .btnup {
    width: 75px;
    height: 28px;
  }

  .or {
    margin-top: 60px;
  }
}

/* Small Mobile Devices (Width 320px and up) */
@media (max-width: 320px) {
  .blog {
    font-size: 16px;
    margin-top: 50px;
  }

  .btnin, .btnup {
    width: 65px;
    height: 25px;
  }

  .or {
    margin-top: 50px;
  }
}
