body {
  background-image: url('../element/head.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #ffffff; 
  font-family: 'Poppins', sans-serif;
}
.head{
  text-align: center;
}
.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.chatbox {
  width: 400px;
  
  padding: 20px;
  
  
}

#chatbox-messages {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.user-message {
  background-color: #EADDFF;
  text-align: right;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
}

.bot-message {
  background-color: #F5F5F5;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  text-align: left;
}
.sendbox{
  width: 312px;
  height: 35px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  color: black;
  border-color: #C4C4C4;
  background-color: #F5F5F5 ;
}
.send{
  
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
}
.send:hover {
  background-color: #EADDFF;
}