body {
  background-image: url('../element/head.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #ffffff; 
  font-family: 'Poppins', sans-serif;
}

.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.chatbox {
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

#chatbox-messages {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.user-message {
  background-color: #cce5ff;
  text-align: right;
}

.bot-message {
  background-color: #e6ffe6;
}
