body {
  background-image: url('../element/head.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.head {
  text-align: center;
  margin-top: -2vh;
}

.back {
  display: flex;
  margin-left: 2vh;
  margin-top: 3vh;
}

.chat-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  
}

#chatbox-messages {
  width: 90vw;
    max-width: 500px;
    height: 75vh;
    overflow-y: auto;
    
  
}

.message {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-message {
  background-color: #EADDFF;
  text-align: right;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-family: "Bai Jamjuree", sans-serif;
}

.bot-message {
  background-color: #F5F5F5;
  text-align: left;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-family: "Bai Jamjuree", sans-serif;
}

.sendbox {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  height: 55px;
  border-radius: 40px;
  border: 1px solid #252525;
  background-color: #F5F5F5;
  font-family: 'Poppins', sans-serif;
  font-family: "Bai Jamjuree", sans-serif;
  padding-left: 20px;
  margin-top: 10px;
}

.sendbox[type="text"] {
  
  padding-left: 20px;
  
}

.send {
  position: absolute;
  top: 60%;
  right: 25px; /* Adjust this for horizontal alignment */
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  
}

.send:hover {
  background-color: #EADDFF;
}

/* Responsive Adjustments */
@media screen and (max-width: 480px) {
  #chatbox-messages {
    height: 80vh;
  }
  .sendbox {
    width: 90%;
    height: 40px;
  }
  .send {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 380px) {
  #chatbox-messages {
    height: 76vh;
  }
  .sendbox {
    width: 90%;
    height: 40px;
  }
  .send {
    width: 35px;
    height: 35px;
  }
}