

body {
  background-image: url('../element/Rectangle 6.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #ffffff; 
  font-family: 'Poppins', sans-serif;
}

